
/* globals.css */

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

* {
  box-sizing: border-box;
}
